VisualElement {
    background-color: rgba(0, 0, 0, 0.6);
}


/* layout */
.l-row {
    display: flex;
    flex-direction: row;
}
.l-column {
    display: flex;
    flex-direction: column;
}
.l-fill {
    flex-grow: 1;
    flex-shrink: 1;
}
.l-fixed {
    flex-grow: 0;
    flex-shrink: 0;
}
.l-absolute {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.l-wrap {
    flex-wrap: wrap;
    align-content: flex-start;
}

/* component */
.c-main {
    padding: 12px;
}
.c-panel {

}
.c-space {
    margin-bottom: 16px;
}

.c-container {

}
.c-grid {
    position: relative;
}
.c-drag {
    position: absolute;
    left: 0;
    top: 0;
}

/* skin */
.s-panel {
    background-color: rgba(31, 18, 7, 0.54);
    padding: 8px;
    border-radius: 6px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.64);
}
.s-panel-title {
    padding: 6px 8px;
    color: white;
    font-size: 16px;
}
.s-label {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.64);
    margin-bottom: 6px;
}
.s-cell {
    position: absolute;
    border-width: 1px;
    border-color: rgba(245, 245, 245, 0.64);
}
.s-item {
    background-color: rgba(255, 200, 50, 0.8);
}